# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

# Git Plugin
[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"

[mgr]
ratio = [3, 9, 5]
sort_by = "alphabetical"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false
linemode = "none"
show_hidden = false
show_symlink = true
scrolloff = 4
mouse_events = ["click", "scroll"]
title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
tab_size = 2
max_width = 1000
max_height = 1000
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

[opener]
edit = [
  { run = "${EDITOR:-zed} %s", desc = "zed", for = "macos", block = true, orphan = true },
  { run = "${EDITOR:-vi} %s", desc = "$EDITOR", for = "linux", block = true },
  { run = "code %s", desc = "code", for = "windows", orphan = true },
  { run = "code -w %s", desc = "code (block)", for = "windows", block = true },
]
open = [
  { run = "open %s", desc = "Open", orphan = true, for = "macos" },
  { run = "xdg-open %s1", desc = "Open", for = "linux" },
  { run = 'start "" %s1', desc = "Open", for = "windows", orphan = true },
  { run = "termux-open %s1", desc = "Open", for = "android" },
]
reveal = [
  { run = "xdg-open %d1", desc = "Reveal", for = "linux" },
  { run = "open -R %s1", desc = "Reveal(Finder)", for = "macos" },
  { run = "explorer /select,%s1", desc = "Reveal", for = "windows", orphan = true },
  { run = "termux-open %d1", desc = "Reveal", for = "android" },
  { run = "clear; exiftool %s1; echo 'Press enter to exit'; read _", desc = "Show EXIF", for = "unix", block = true },
]
extract = [
  { run = "ya pub extract --list %s", desc = "Extract here" },
]
zip = [{ run = "zip -r -X %s.zip .", desc = "zip folder", for = "macos" }]
download = [
  { run = "ya emit download --open %S", desc = "Download and open" },
  { run = "ya emit download %S", desc = "Download" },
]
playVideo = [
  { run = "iina --no-stdin %s", orphan = true, for = "macos" },
  { run = "mpv --force-window %s", orphan = true, for = "linux" },
  { run = "mpv --force-window %*", orphan = true, for = "windows" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
playAudio = [
  { run = "iina --no-stdin --music-mode %s", orphan = true, for = "macos" },
  { run = "mpv --force-window %s", orphan = true, for = "linux" },
  { run = "mpv --force-window %*", orphan = true, for = "windows" },
]

[open]
rules = [
  # Folder
  { url = "*/", use = ["edit", "open", "zip", "reveal"] },
  # Text
  { mime = "text/*", use = ["edit", "open", "reveal"] },
  # Image
  { mime = "image/*", use = ["open", "reveal"] },
  # Video
  { mime = "{video}/*", use = ["playVideo", "reveal"] },
  # Audio
  { mime = "{audio}/*", use = ["playAudio", "reveal"] },
  # Archive
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
    "extract",
    "reveal"
  ] },
  # JSON
  { mime = "application/{json,ndjson}", use = ["edit", "reveal"] },
  { mime = "*/javascript", use = ["edit", "reveal"] },
  # Empty file
  { mime = "inode/empty", use = ["edit", "open", "reveal"] },
  # Virtual file system
  { mime = "vfs/{absent,stale}", use = "download" },
  # Fallback
  { url = "*", use = ["edit", "open", "reveal"] },
]
